{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}
<div>
    <div class="card" style="height: 293px;background-color: beige;">
        <div class="card-header" style="background-color: rgb(221, 191, 153);">
        <h2>  We provide you the platform where you can book cars whenever you want.</h2>
        </div>
        <div class="card-body">
         <p class="card-text">
             <ul><h4>
                 <li>Easy procedure for booking</li> <br>
                 <li>Book a car from wide range of options</li><br>
                 <li>Own a car without actually buying it</li>
                </h4>
                </ul>
         </p>
        </div>
      </div>
  </div>
  <div class="card" style="height: 294px; background-color: beige;">
    <div class="card-header" style="background-color: rgb(221, 191, 153);">
    <h2>  We provide you the platform where you can earn from your car by simply renting it out.</h2>
    </div>
    <div class="card-body">
     <p class="card-text">
         <ul><h4>
             <li>Easy procedure for registering your car</li> <br>
             <li>Rent your car out when you are not using it</li><br>
             <li>Get rent for your car</li>
            </h4>
            </ul>
     </p>
    </div>
  </div>
</div>
{% endblock body %}
