{% extends 'base.html' %}
{% block title %}Earn With car{% endblock title %}
{% block body %} 
      <!-- carousel -->
      <div>
        <div class="card" style="width: 18rem;margin-top: 55px;margin-left: 115px;display: inline-block;margin-bottom: 0px;">
          <div class="card-body">
            <h5 class="card-title">Step 1</h5>
            <p class="card-text">Login to our website. <br><br><br></p>
            <a href="/loginEWC" class="btn btn-primary">Login</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;margin-top: 55px;margin-left: 115px;display: inline-block;margin-bottom: 0px;">
          <div class="card-body">
            <h5 class="card-title">Step 2</h5>
            <p class="card-text">If you are not a member then kindly register yourself with us. <br> <br></p>
            <a href="/signupEWC" class="btn btn-primary">Register</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;margin-top: 55px;margin-left: 115px;display: inline-block;margin-bottom: 0px;">
          <div class="card-body">
            <h5 class="card-title">Step 3</h5>
            <p class="card-text">Fill all the mandatory details. <br><br> <br><br><br></p>
           
          </div>
        </div>
      </div>
      <div>
        <div class="card" style="width: 18rem;margin-top: 55px;margin-left: 115px;display: inline-block;margin-bottom: 0px;">
          <div class="card-body">
            <h5 class="card-title">Step 4</h5>
            <p class="card-text">Then upload your cars details. <br><br><br><br><br></p>
           
          </div>
        </div>
        <div class="card" style="width: 18rem;margin-top: 55px;margin-left: 115px;display: inline-block;margin-bottom: 0px;">
          <div class="card-body">
            <h5 class="card-title">Step 5</h5>
            <p class="card-text">Our website will suggest you best fare for your car. <br><br><br><br> </p>
            
          </div>
        </div>
        <div class="card" style="width: 18rem;margin-top: 55px;margin-left: 115px;display: inline-block;margin-bottom: 0px;">
          <div class="card-body">
            <h5 class="card-title">Step 6</h5>
            <p class="card-text">Now after listing your car just start earning with renting it out. <br><br><br><br> </p>
           
          </div>
        </div>
      </div>
      <style>
       body {
         background-color: rgb(181, 178, 178);
       }
       .card {
         color: rgb(7, 49, 0);
         background-color: rgb(155, 221, 221);
       }
      </style>
{% endblock body %} 


